{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>管理员</title>
  <link rel="stylesheet" href="{% static "layui/css/layui.css" %}" media="all">
  <style type="text/css">
    a{color:#009688;}
    a:hover{color:#8ddad2;}
  </style>
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo"><a href="activity.html">军乐队活动管理 </a></div>

      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item" lay-unselect="">
          <a href="javascript:;"><img src="../static/illust_72066950_20181219_203453.jpg" class="layui-nav-img">管理员</a>
          <dl class="layui-nav-child">
            <dd><a href="index.html">退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>

    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
          <li class="layui-nav-item">
            <a href="modify.html">定制报名表</a>           
          </li>
          <li class="layui-nav-item">
            <a href="segment.html">定制环节</a>
          </li>
          <li class="layui-nav-item">
            <a href="accountManage.html">考官账号管理</a></dd>
          </li>

        </ul>
      </div>
    </div>

    <div class="layui-body" , lay-filter="graph" , style="bottom: 0px;">
      <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-body">
                <form class="layui-form" action="" lay-filter="FormDesign"> {%  csrf_token %}                    
                  <div class="layui-card">
                    <div class="layui-card-body" id="toAdd">
                      <div class="layui-form-item">
                          <button type="submit" class="layui-btn" lay-submit="" lay-filter="submitForm" id="NewDataLine">添加新考官</button>
                      </div>

                      <!--  展示区  -->
                      <table class="layui-table" lay-data="{height: 800, url:'Step-Into-THUMB/admin/activity/' + layui.data('LocalData').ActID + '/examiner-list'}" lay-filter="accountTable" id="accountTable">
                        <thead>
                            <tr>
                              <th lay-data="{type:'numbers', width:'10%'}"></th>
                              <th lay-data="{field:'username', width:'20%', style:'cursor: pointer;'}">用户名</th>
                              <th lay-data="{field:'password', width:'20%', style:'cursor: pointer;'}">密码</th>
                              <th lay-data="{templet: function(d){
                                var htmls='';
                                d.sections.map(function(value, index, arr){
                                    htmls+=value.name;
                                    if (index!=arr.length-1) htmls+=', ';
                                });
                                return htmls;
                              }, field:'sections', width:'40%', style:'cursor: pointer;'}">环节</th>
                              <th lay-data="{templet:'#bar', width:'10%', style:'cursor: pointer;'}">编辑</th>
                            </tr>
                        </thead>
                      </table>
                    </div>  
                  </div>                                

                       
                </form>
              </div>
            </div>           
          </div>


        </div>
      </div>
    </div>



  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 小组：基于layui以及django
  </div>
  </div>


  <script src="{% static "layui/layui.js" %}"></script>
  <script type="text/html" id="bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>

  <script>
    var currentSegmentNum = 0;
    var Quz = {
          id:layui.data('LocalData').ActID,
          question:new Array(),
        };
    var Segments = new Array();
    layui.use(['form', 'layedit', 'laydate', 'jquery', 'layer', 'table'], function () {
      var form = layui.form,
        layer = layui.layer,
        $ = layui.jquery,
        layedit = layui.layedit,
        laydate = layui.laydate,
        table = layui.table;


      layer.ready(function(){
        var LocalData=layui.data('LocalData');
      });

      //监听提交
      table.on('tool(accountTable)', function(obj){
        var data = obj.data;
        var Sdata = form.val('FormDesign');
        var LocalData=layui.data('LocalData');
        if (obj.event === 'del'){
            $.ajax({
              url: 'Step-Into-THUMB/admin/activity/'+ LocalData.ActID +'/delete-examiner?username='+ data.username,
              type: 'delete',
              contentType: 'application/x-www-form-urlencoded',
              dataType: 'json',
              headers: {
                'X-CSRFToken': Sdata.csrfmiddlewaretoken
              },
              success: function (data) {
                if (data.status == 100) {
                  layer.msg('删除成功');
                  location.reload();
                } else {
                  layer.msg('删除失败，请重试！');
                }
              }
            });
        }
      });
      
      form.on('submit(submitForm)', function (data) {
         var LocalData=layui.data('LocalData');
         var sectionHtml='<div class="layui-form-item"> \
                  <label class="layui-form-label">选择环节</label> \
                  <div class="layui-input-block">';
         $.ajax({
            url: 'Step-Into-THUMB/admin/activity/'+ LocalData.ActID +'/section-list',
            type: 'get',
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            success: function (data) {
                data.sections.map(function(value){
                    sectionHtml+='<input type="checkbox" name="section" value="'+ value.sectionID +'" title="'+ value.name +'">';
                });

                sectionHtml+= '</select> \
                  </div> \
                </div>';

                // 创建活动的弹出层
                layer.open({
                  id: "NewLineSet",
                  title: '新考官设置',
                  shadeClose: true,
                  shade: 0.8,
                  area: ['500px', '400px'],
                  content: '\
                    <form class="layui-form" action="" lay-filter="FormNewLine">{%  csrf_token %}\
                        <div class="layui-form-item">\
                          <label class="layui-form-label">账号名称</label>\
                          <div class="layui-input-block">\
                            <input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入名称" class="layui-input">\
                          </div>\
                        </div>\
                        <div class="layui-form-item">\
                          <label class="layui-form-label">账号密码</label>\
                          <div class="layui-input-block">\
                            <input type="text" name="password" lay-verify="title" autocomplete="off" placeholder="请输入密码" class="layui-input">\
                          </div>\
                        </div>'+ sectionHtml +'</form>',
                  success: function (layero, index) {
                    form.render();
                  },
                  btn: ['确认', '取消'],
                  yes: function (index, layero) {
                    var Fdata = form.val('FormNewLine');
                    var section = new Array();
                    $("input:checkbox[name='section']:checked").each(function () {
                        section.push($(this).val());
                    });
                    layer.close(index);
                    var LocalData=layui.data('LocalData');
                    var Sdata = form.val('FormDesign');

                    $.ajax({
                      url: 'Step-Into-THUMB/admin/activity/'+ LocalData.ActID +'/create-examiner?username='+Fdata.username+'&password='+Fdata.password,
                      type: 'post',
                      contentType: 'application/json',
                      dataType: 'json',
                      headers: {
                        'X-CSRFToken': Sdata.csrfmiddlewaretoken
                      },
                      data:JSON.stringify({
                        "sections":section
                      }),
                      success: function (data) {
                        if (data.status == 100) {
                          layer.msg('表单保存成功');
                          location.reload();
                        } else {
                          layer.msg('表单保存失败，请重试！');
                        }
                      }
                    });
                  },
                  btn2: function (index, layero) {}
                });
            }
        });

        return false;
      });

    });

    layui.use('element', function () {
      var element = layui.element; //导航的hover效果、二级菜单等功能
    });
  </script>
</body>

</html>