{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>管理员</title>
  <link rel="stylesheet" href="{% static "layui/css/layui.css" %}" media="all">
  <style type="text/css">
    a{color:#009688;}
    a:hover{color:#8ddad2;}
  </style>
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo"> <a href="activity.html">军乐队活动管理 </a> </div>
      <!-- 头部区域（可配合layui已有的水平导航） -->

      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item" lay-unselect="">
          <a href="javascript:;"><img src="../static/illust_72066950_20181219_203453.jpg" class="layui-nav-img">管理员</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">修改信息</a></dd>
            <dd><a href="javascript:;">安全管理</a></dd>
            <dd><a href="index.html">退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>

    <div class="layui-body" , lay-filter="graph", style="left:0px;bottom: 0px;">
      <form class="layui-form" action="" lay-filter="ActivityList"> {%  csrf_token %}
        <div style="padding: 20px; background-color: #F2F2F2;">
          <div class="layui-row layui-col-space15">
            <div class="layui-col-md12" id="ActivityContent" name="ActivityContent">
              <div class="layui-card">
                <div class="layui-card-header" style="margin-bottom: 15px;">
                  <div class="layui-input-inline  layui-form-items" style="margin-top: 7px;">
                    <label style="margin-right: 20px;font-size: 24px;">活动列表</label>
                    <button type="button" id="addActivity" name="addActivity"
                      class="layui-btn layui-btn-primary layui-btn-sm" style="margin-bottom: 10px;">
                      <i class="layui-icon">&#xe654;</i>
                    </button>
                  </div>
                </div>
                <div class="layui-card-body" id="toAdd">

                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>

  <script src="{% static "layui/layui.js" %}"></script>
  <script>
    layui.use(['form', 'layedit', 'laydate', 'jquery', 'layer'], function () {
      var form = layui.form,
        layer = layui.layer,
        $ = layui.jquery,
        layedit = layui.layedit,
        laydate = layui.laydate;

      layer.ready(function () {
        layer.msg('初始化列表');
        var Fdata = form.val('ActivityList');
        $.ajax({
              url: '/Step-Into-THUMB/admin/activity-list',
              type: 'get',
              contentType: 'application/x-www-form-urlencoded',
              dataType: 'json',
              headers: {
                'X-CSRFToken': Fdata.csrfmiddlewaretoken
              },
              success: function (data) {
                if (data.status == 100) {
                  layer.msg('获取成功');

                  data.activities.map(function(value,index){
                      var activityStatus='', buttonField='';
                      if (value.status==0){
                          activityStatus='活动制定中';
                          buttonField='<button type="button" id="Modifyactivity_' + value.id + '" name="ModifyActivity"\n' +
                                    'class="layui-btn layui-btn-primary layui-btn-xs" style="margin-bottom: 5px;">\n' +
                                        '<i class="layui-icon">&#xe642;</i>\n' +
                                    '</button>\n' +
                                    '<button type="button" id="Deleteactivity_' + value.id + '" name="DeleteActivity"\n' +
                                        'class="layui-btn layui-btn-primary layui-btn-xs" style="margin-bottom: 5px;">\n' +
                                        '<i class="layui-icon">&#xe640;</i>\n' +
                                    '</button>\n' +
                                    '<button type="button" id="Lockactivity_' + value.id + '" name="LockActivity"\n' +
                                        'class="layui-btn layui-btn-primary layui-btn-xs" style="margin-bottom: 5px;">\n' +
                                        '<i class="layui-icon">&#xe679;</i>\n' +
                                    '</button>\n';
                      } else if (value.status==1){
                          activityStatus='活动已发布';
                          buttonField='<button type="button" id="Deleteactivity_' + value.id + '" name="DeleteActivity"\n' +
                                        'class="layui-btn layui-btn-primary layui-btn-xs" style="margin-bottom: 5px;">\n' +
                                        '<i class="layui-icon">&#xe640;</i>\n' +
                                    '</button>\n' +
                                    '<button type="button" id="Finishactivity_' + value.id + '" name="FinishActivity"\n' +
                                        'class="layui-btn layui-btn-primary layui-btn-xs" style="margin-bottom: 5px;">\n' +
                                        '<i class="layui-icon">&#xe679;</i>\n' +
                                    '</button>\n';
                      } else if (value.status==2){
                          activityStatus='报名结束';
                          buttonField='<button type="button" id="Deleteactivity_' + value.id + '" name="DeleteActivity"\n' +
                                        'class="layui-btn layui-btn-primary layui-btn-xs" style="margin-bottom: 5px;">\n' +
                                        '<i class="layui-icon">&#xe640;</i>\n' +
                                    '</button>\n' +
                                    '<button type="button" id="FinalCheckactivity_' + value.id + '" name="FinalCheckActivity"\n' +
                                        'class="layui-btn layui-btn-primary layui-btn-xs" style="margin-bottom: 5px;">\n' +
                                        '<i class="layui-icon">&#xe63c;</i>\n' +
                                    '</button>\n';
                      }
                      var modestr =
                        '<blockquote class="layui-elem-quote layui-quote-nm" id="activity_' + value.id + '">\n' +
                          '<fieldset class="layui-elem-field layui-field-title" style="margin-bottom: 5px; margin-top: 5px;">\n' +
                              '<legend>\n' +
                                '<div class="layui-input-inline  layui-form-item">\n' +
                                    '<label style="margin-right: 20px;">' + value.name +'</label>\n'
                                    + buttonField +
                                '</div>\n' +
                              '</legend>\n' +
                          '</fieldset>\n' +
                          '<div class="layui-collapse" lay-filter="test" style="margin-bottom: 5px;">\n' +
                            '<div class="layui-colla-item">\n' +
                                '<h2 class="layui-colla-title" style="background-color:white;">活动时间</h2>\n' +
                                '<div class="layui-colla-content layui-show">\n' +
                                    '<p>' + value.from + ' - ' + value.to + '</p>\n' +
                                '</div>\n' +
                            '</div>\n' +
                            '<div class="layui-colla-item">\n' +
                                '<h2 class="layui-colla-title" style="background-color:white;">活动状态</h2>\n' +
                                '<div class="layui-colla-content layui-show">\n' +
                                    '<p>' + activityStatus + '</p>\n' +
                                '</div>\n' +
                            '</div>\n' +
                          '</div>\n' +
                        '</blockquote>';
                      $("#toAdd").append(modestr);
                      //alert(modestr);
                      form.render();
                  });


                } else if (data.status == 404) {
                  layer.msg('无表单');
                } else {
                  layer.msg('表单保存失败，请重试！');
                }
              }
            });
      });

      $("#addActivity").click(function () {
        // 创建活动的弹出层
        layer.open({
          id: "NewActivitySet",
          title: '活动基本设置',
          shadeClose: true,
          shade: 0.8,
          area: ['450px', '300px'],
          content: '   \
            <form class="layui-form" action="" lay-filter="FormActivity">{%  csrf_token %}\
              <div class="layui-form-item">\
                <label class="layui-form-label">活动名称</label>\
                <div class="layui-input-block">\
                  <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入名称" class="layui-input">\
                </div>\
              </div>\
              <div class="layui-form-item">\
                <label class="layui-form-label">开始日期</label>\
                  <div class="layui-input-block">\
                    <input type="text" name="from" id="StartDate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">\
                  </div>\
              </div>\
              <div class="layui-form-item">\
                <label class="layui-form-label">结束日期</label>\
                  <div class="layui-input-block">\
                    <input type="text" name="to" id="EndDate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">\
                  </div>\
              </div>\
            </form>  ',
          success: function (layero, index) {
            laydate.render({
              elem: "#StartDate"
            });
            laydate.render({
              elem: "#EndDate"
            });
          },
          btn: ['确认', '取消'],
          yes: function (index, layero) {
            layer.close(index);
            var Fdata = form.val('FormActivity');
            alert(JSON.stringify(Fdata));
            $.ajax({
              url: '/Step-Into-THUMB/admin/create-activity?name=' + Fdata.name + '&from=' + Fdata
                .from + '&to=' + Fdata.to,
              type: 'post',
              contentType: 'application/x-www-form-urlencoded',
              dataType: 'json',
              headers: {
                'X-CSRFToken': Fdata.csrfmiddlewaretoken
              },
              success: function (data) {
                if (data.status == 100) {
                  layer.msg('表单保存成功');
                  location.reload();
                } else {
                  layer.msg('表单保存失败，请重试！');
                }
              }
            });

          },
          btn2: function (index, layero) {}
        });


      });

      $("#toAdd").on("click", "[name='ModifyActivity']", function () {
        var rawid = $(this).attr("id");
        layer.msg('更改活动' + rawid);
        var id = rawid.split('_');
        layui.data('LocalData', {
          key: 'ActID',
          value: parseInt(id[1])
        });
        location.assign("modify.html");
      });

      $("#toAdd").on("click", "[name='DeleteActivity']", function () {
        layer.msg('删除活动');
        var rawid = $(this).attr("id");
        var id = rawid.split('_');
        var Fdata = form.val('ActivityList');

        $.ajax({
              url: 'Step-Into-THUMB/admin/delete-activity?activityID=' + parseInt(id[1]),
              type: 'delete',
              contentType: 'application/x-www-form-urlencoded',
              dataType: 'json',
              headers: {
                'X-CSRFToken': Fdata.csrfmiddlewaretoken
              },
              success: function (data) {
                if (data.status == 100) {
                  layer.msg('删除成功');
                  location.reload();
                } else {
                  layer.msg('删除失败，请重试！');
                }
              }
            });


      });

      $("#toAdd").on("click", "[name='FinalCheckActivity']", function () {

        var rawid = $(this).attr("id");
        layer.msg('更改活动' + rawid);
        var id = rawid.split('_');
        layui.data('LocalData', {
          key: 'ActID',
          value: parseInt(id[1])
        });
        location.assign("finalcheck.html");
      });

      $("#toAdd").on("click", "[name='LockActivity']", function () {
        layer.msg('发布活动');
        var rawid = $(this).attr("id");
        var id = rawid.split('_');
        var Fdata = form.val('ActivityList');

        $.ajax({
              url: 'Step-Into-THUMB/admin/start-activity?activityID=' + parseInt(id[1]),
              type: 'get',
              contentType: 'application/x-www-form-urlencoded',
              dataType: 'json',
              headers: {
                'X-CSRFToken': Fdata.csrfmiddlewaretoken
              },

              success: function (data) {
                if (data.status == 100) {
                  layer.msg('发布成功');
                  location.reload();
                } else {
                  layer.msg('发布失败，请重试！');
                }
              }
            });

      });

      $("#toAdd").on("click", "[name='FinishActivity']", function () {
        layer.msg('结束报名');
        var rawid = $(this).attr("id");
        var id = rawid.split('_');
        var Fdata = form.val('ActivityList');

        $.ajax({
              url: 'Step-Into-THUMB/admin/stop-activity?activityID=' + parseInt(id[1]),
              type: 'post',
              contentType: 'application/x-www-form-urlencoded',
              dataType: 'json',
              headers: {
                'X-CSRFToken': Fdata.csrfmiddlewaretoken
              },

              success: function (data) {
                if (data.status == 100) {
                  layer.msg('结束报名成功');
                  location.reload();
                } else {
                  layer.msg('操作失败，请重试！');
                }
              }
            });

      });

    });

    layui.use('element', function () {
      var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
    });
  </script>
</body>

</html>