{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>管理员</title>
  <link rel="stylesheet" href="{% static "layui/css/layui.css" %}" media="all">
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">军乐团活动管理</div>
      <!-- 头部区域（可配合layui已有的水平导航） -->

      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item" lay-unselect="">
          <a href="javascript:;"><img src="../static/illust_72066950_20181219_203453.jpg" class="layui-nav-img">管理员</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">修改信息</a></dd>
            <dd><a href="javascript:;">安全管理</a></dd>
            <dd><a href="index.html">退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>

    <div>
      <form class="layui-form" action="" lay-filter="ActivityList"> {%  csrf_token %}
        <div style="padding: 20px; background-color: #F2F2F2;">
          <div class="layui-row layui-col-space15">
            <div class="layui-col-md12" id="ActivityContent" name="ActivityContent">
              <div class="layui-card">
                <div class="layui-card-header" style="margin-bottom: 15px;">
                  <div class="layui-input-inline  layui-form-items" style="margin-top: 7px;">
                    <label style="margin-right: 20px;font-size: 24px;">活动列表</label>
                    <button type="button" id="addActivity" name="addActivity"
                      class="layui-btn layui-btn-primary layui-btn-sm" style="margin-bottom: 10px;">
                      <i class="layui-icon">&#xe654;</i>
                    </button>
                  </div>
                </div>
                <div class="layui-card-body">


                  <blockquote class="layui-elem-quote layui-quote-nm" id="activity_1">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-bottom: 5px; margin-top: 5px;">
                      <legend>
                        <div class="layui-input-inline  layui-form-item">
                          <label style="margin-right: 20px;">活动1</label>
                          <button type="button" id="ModifyActivity_1" name="ModifyActivity"
                            class="layui-btn layui-btn-primary layui-btn-xs" style="margin-bottom: 5px;">
                            <i class="layui-icon">&#xe642;</i>
                          </button>
                          <button type="button" id="DeleteActivity_1" name="DeleteActivity"
                            class="layui-btn layui-btn-primary layui-btn-xs" style="margin-bottom: 5px;">
                            <i class="layui-icon">&#xe640;</i>
                          </button>
                          <button type="button" id="FinalCheckActivity_1" name="FinalCheckActivity"
                            class="layui-btn layui-btn-primary layui-btn-xs" style="margin-bottom: 5px;">
                            <i class="layui-icon">&#xe63c;</i>
                          </button>
                          <button type="button" id="LockActivity_1" name="LockActivity"
                            class="layui-btn layui-btn-primary layui-btn-xs" style="margin-bottom: 5px;">
                            <i class="layui-icon">&#xe679;</i>
                          </button>
                        </div>
                      </legend>
                    </fieldset>
                    <div class="layui-collapse" lay-filter="test" style="margin-bottom: 5px;">
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title" style="background-color:white;">活动时间</h2>
                        <div class="layui-colla-content layui-show">
                          <p>5019.9.10-2019.10.1</p>
                        </div>
                      </div>
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title" style="background-color:white;">报名表状态</h2>
                        <div class="layui-colla-content layui-show">
                          <p>开放修改</p>
                        </div>
                      </div>
                    </div>
                  </blockquote>

                  <blockquote class="layui-elem-quote layui-quote-nm" id="activity_2">
                      <fieldset class="layui-elem-field layui-field-title" style="margin-bottom: 5px; margin-top: 5px;">
                        <legend>
                          <div class="layui-input-inline  layui-form-item">
                            <label style="margin-right: 20px;">活动2</label>
                            <button type="button" id="ModifyActivity_2" name="ModifyActivity"
                              class="layui-btn layui-btn-primary layui-btn-xs" style="margin-bottom: 5px;">
                              <i class="layui-icon">&#xe642;</i>
                            </button>
                            <button type="button" id="DeleteActivity_2" name="DeleteActivity"
                              class="layui-btn layui-btn-primary layui-btn-xs" style="margin-bottom: 5px;">
                              <i class="layui-icon">&#xe640;</i>
                            </button>
                            <button type="button" id="FinalCheckActivity_2" name="FinalCheckActivity"
                              class="layui-btn layui-btn-primary layui-btn-xs" style="margin-bottom: 5px;">
                              <i class="layui-icon">&#xe63c;</i>
                            </button>
                            <button type="button" id="LockActivity_2" name="LockActivity"
                              class="layui-btn layui-btn-primary layui-btn-xs" style="margin-bottom: 5px;">
                              <i class="layui-icon">&#xe679;</i>
                            </button>
                          </div>
                        </legend>
                      </fieldset>
                      <div class="layui-collapse" lay-filter="test" style="margin-bottom: 5px;">
                        <div class="layui-colla-item">
                          <h2 class="layui-colla-title" style="background-color:white;">活动时间</h2>
                          <div class="layui-colla-content layui-show">
                            <p>5019.9.10-2019.10.1</p>
                          </div>
                        </div>
                        <div class="layui-colla-item">
                          <h2 class="layui-colla-title" style="background-color:white;">报名表状态</h2>
                          <div class="layui-colla-content layui-show">
                            <p>开放修改</p>
                          </div>
                        </div>
                      </div>
                    </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>

  <script src="{% static "layui/layui.js" %}"></script>
  <script>
    layui.use(['form', 'layedit', 'laydate', 'jquery', 'layer'], function () {
      var form = layui.form,
        layer = layui.layer,
        $ = layui.jquery,
        layedit = layui.layedit,
        laydate = layui.laydate;

      layer.ready(function () {
        layer.msg('初始化列表');
        var Fdata = form.val('FormActivity');
        $.ajax({
              url: '/Step-Into-THUMB/admin/activity-list',
              type: 'get',
              contentType: 'application/x-www-form-urlencoded',
              dataType: 'json',
              headers: {
                'X-CSRFToken': Fdata.csrfmiddlewaretoken
              },
              success: function (data) {
                if (data.status == 100) {
                  layer.msg('获取成功');
                  alert(JSON.stringify(data));
                } else if (data.status == 404) {
                  layer.msg('无表单');
                } else {
                  layer.msg('表单保存失败，请重试！');
                }
              }
            });
      });

      $("#addActivity").click(function () {
        // 创建活动的弹出层
        layer.open({
          id: "NewActivitySet",
          title: '活动基本设置',
          shadeClose: true,
          shade: 0.8,
          area: ['450px', '300px'],
          content: '   \
            <form class="layui-form" action="" lay-filter="FormActivity">{%  csrf_token %}\
              <div class="layui-form-item">\
                <label class="layui-form-label">活动名称</label>\
                <div class="layui-input-block">\
                  <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入名称" class="layui-input">\
                </div>\
              </div>\
              <div class="layui-form-item">\
                <label class="layui-form-label">开始日期</label>\
                  <div class="layui-input-block">\
                    <input type="text" name="from" id="StartDate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">\
                  </div>\
              </div>\
              <div class="layui-form-item">\
                <label class="layui-form-label">结束日期</label>\
                  <div class="layui-input-block">\
                    <input type="text" name="to" id="EndDate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">\
                  </div>\
              </div>\
            </form>  ',
          success: function (layero, index) {
            laydate.render({
              elem: "#StartDate"
            });
            laydate.render({
              elem: "#EndDate"
            });
          },
          btn: ['确认', '取消'],
          yes: function (index, layero) {
            layer.close(index);
            var Fdata = form.val('FormActivity');
            alert(JSON.stringify(Fdata));
            $.ajax({
              url: '/Step-Into-THUMB/admin/create-activity?name=' + Fdata.name + '&from=' + Fdata
                .from + '&to=' + Fdata.to,
              type: 'post',
              contentType: 'application/x-www-form-urlencoded',
              dataType: 'json',
              headers: {
                'X-CSRFToken': Fdata.csrfmiddlewaretoken
              },
              success: function (data) {
                if (data.status == 100) {
                  layer.msg('表单保存成功');
                  location.reload();
                } else {
                  layer.msg('表单保存失败，请重试！');
                }
              }
            });

          },
          btn2: function (index, layero) {}
        });


        // #TODO:接入接口
      });

      $("[name='ModifyActivity']").click(function () {
        var rawid = $(this).attr("id");
        layer.msg('更改活动' + rawid);
        var id = rawid.split('_');
        // #TODO:本地储存id
        layui.data('LocalData', {
          key: 'ActID',
          value: parseInt(id[1])
        });
        location.assign("modify.html");
      });

      $("[name='DeleteActivity']").click(function () {
        layer.msg('删除活动');


      });

      $("[name='FinalCheckActivity']").click(function () {
        layer.msg('活动终评');


      });

      $("[name='LockActivity']").click(function () {
        layer.msg('锁定活动内容');


      });

    });

    layui.use('element', function () {
      var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
    });
  </script>
</body>

</html>