{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>详细信息</title>
  <link rel="stylesheet" href="{% static "layui/css/layui.css" %}" media="all">
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">军乐团活动管理</div>
      <!-- 头部区域（可配合layui已有的水平导航） -->
    </div>

    <div class="layui-body" , lay-filter="graph" , style="left:0px;bottom: 0px;">
      <div style="padding: 20px; background-color: #F2F2F2;">
          <form class="layui-form" action="" lay-filter="SegmentList" id="isPass"> {%  csrf_token %}
            <div style="display:none;">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="submitForm" id="FinishScoreX">提交</button>
            </div>
          </form>
            <div class="layui-row layui-col-space15">
              <div class="layui-col-md12" id="toAddAddition">
                  <div class="layui-card">
                      <div class="layui-card-header">考生信息</div>
                      <div class="layui-card-body" id="toAdd">
                        <div class="layui-tab" lay-filter="activitySegment">
                                <ul class="layui-tab-title" id="titleToAdd"></ul>
                                <div class="layui-tab-content" id="contentToAdd"></div>
                            </div>
                      </div>
                  </div>
              </div>
            </div>

      </div>



    </div>
  </div>

  <script src="{% static "layui/layui.js" %}"></script>
  <script>
    var scoreForm = new Object();
    layui.use(['form', 'layedit', 'laydate', 'jquery','element', 'upload', 'layer'], function () {
      var form = layui.form,
        layer = layui.layer,
        $ = layui.jquery,
        layedit = layui.layedit,
        laydate = layui.laydate,
        element = layui.element,
        upload = layui.upload;

      layer.ready(function(){
        var LocalData=layui.data('LocalData');
        var currentSudent=LocalData.wxID;
        var currentSegment=LocalData.currentSegment;
        var url = '';
        if (currentSegment==-2) url='Step-Into-THUMB/admin/activity/'+LocalData.ActID+'/get-candidate-detail?wxID='+currentSudent+'&token=' + LocalData.token+'&Uname=' + LocalData.username;
        else url='Step-Into-THUMB/examiner/transcript?wxID=' + currentSudent +'&username=' + LocalData.username+'&token=' + LocalData.token+'&Uname=' + LocalData.username;
        $.ajax({
            url: url,
            type: 'get',
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            success: function (data) {
                var Cform = data.application;
                var obj=JSON.parse(Cform);
                var htmls='';
                    obj.question.map(function(value){
                        if (value.answer)
                          htmls+=
                            '<div class="layui-form-item"> \
                                <label class="layui-form-label">' + value.name + '</label> \
                                <div class="layui-input-block"> \
                                <input type="text" autocomplete="on" value="' + value.answer + '" class="layui-input" readonly="true"> \
                                </div> \
                            </div>';
                        else if (value.PictureURL)
                            htmls+=
                                '<div class="layui-form-item"> \
                                    <label class="layui-form-label">' + value.name + '</label> \
                                    <div class="layui-inline"> \
                                        <img width="160" height="120" src="' + value.PictureURL + '"> \
                                    </div> \
                                </div>';
                        else
                          htmls+=
                            '<div class="layui-form-item"> \
                                <label class="layui-form-label">' + value.name + '</label> \
                                <div class="layui-input-block"> \
                                <input type="text" autocomplete="on" value="未填写" class="layui-input" readonly="true"> \
                                </div> \
                            </div>';
                    });
                    element.tabAdd('activitySegment', {
                              title: '报名表'
                              ,content: htmls
                              ,id: 'CandidateForm'
                            });
                    form.render();
                var str = data.transcript;
                var PicArray = [];
                obj=JSON.parse(str);
                    obj.sections.map(function(value){
                        if (value.sectionID == currentSegment){

                            scoreForm = value.question;
                            htmls = '<form  class="layui-form" action="" lay-filter="FormSubmit">';
                            value.question.map(function(value){
                                        if (value.type=='Blank'){
                                            if (value.answer){
                                                htmls+=
                                                '<div class="layui-form-item"> \
                                                    <label class="layui-form-label">' + value.name + '</label> \
                                                    <div class="layui-input-block"> \
                                                      <input type="text" name="' + value.name + '"autocomplete="on" value="' + value.answer + '" class="layui-input"> \
                                                    </div> \
                                                </div>';
                                            } else {
                                                htmls+=
                                                '<div class="layui-form-item"> \
                                                    <label class="layui-form-label">' + value.name + '</label> \
                                                    <div class="layui-input-block"> \
                                                      <input type="text" name="' + value.name + '"autocomplete="off" class="layui-input"> \
                                                    </div> \
                                                </div>';
                                            }

                                        } else if (value.type=='Choice'){
                                            var modestr =
                                                '<div class="layui-form-item"> \
                                                  <div class="layui-inline">\
                                                    <label class="layui-form-label">' + value.name + '</label> \
                                                    <div class="layui-input-inline" > \
                                                      <select name="'+ value.name +'" lay-filter="show"> \
                                                        <option value=""></option> ';
                                                          if (value.answer){
                                                              var isequal=value.answer;
                                                              value.Choices.map(function(value,index,arr){
                                                                if (value.Choice==isequal) modestr += '<option value="' + value.Choice + '" selected="">' + value.Choice + '</option>';
                                                                else modestr += '<option value="' + value.Choice + '">' + value.Choice + '</option>';
                                                              });
                                                          } else {
                                                              value.Choices.map(function(value,index,arr){
                                                                modestr += '<option value="' + value.Choice + '">' + value.Choice + '</option>';
                                                              });
                                                          }
                                                          modestr += '</select> \
                                                    </div> \
                                                  </div>\
                                                </div>';
                                              htmls+=modestr;
                                        } else if (value.type == 'Picture') {
                                            htmls +=
                                                '<div class="layui-form-item"> \
                                                    <div class="layui-inline">\
                                                        <label class="layui-form-label">' + value.name + '</label> \
                                                        <div class="layui-inline" id="' + value.name + 'Add"> \
                                                            <button type="button" class="layui-btn" name="uploadPicture" id="' + value.name + 'Up">\
                                                              <i class="layui-icon">&#xe67c;</i>上传图片\
                                                            </button>\
                                                            <button type="button" class="layui-btn layui-btn-primary" name="deletePicture" id="' + value.name + 'Del">\
                                                              删除已上传图片\
                                                            </button>\
                                                            <div class="layui-inline" name="' + value.name + '"> \
                                                            </div>\
                                                        </div> \
                                                    </div>\
                                                </div>';
                                            PicArray.push(value.name);
                                        }
                            });
                            htmls+=
                                '  <div class="layui-form-item">\n' +
                                '    <label class="layui-form-label">是否通过</label>\n' +
                                '    <div class="layui-input-block">\n' +
                                '      <input type="radio" name="Pass" value="1" title="是">\n' +
                                '      <input type="radio" name="Pass" value="0" title="否">\n' +
                                '    </div>\n' +
                                '  </div>' +
                                '<div class="layui-form-item">\n' +
                                    '<button type="submit" class="layui-btn" lay-submit="" lay-filter="submitForm" id="FinishScore">提交</button>\n' +
                                '</div>' +
                                '</form>';
                            element.tabAdd('activitySegment', {
                              title: value.name
                              ,content: htmls
                              ,id: value.sectionID.toString()
                            });
                        } else {
                            htmls = '';
                            value.question.map(function(value){
                                if (value.answer)
                                  htmls+=
                                    '<div class="layui-form-item"> \
                                        <label class="layui-form-label">' + value.name + '</label> \
                                        <div class="layui-input-block"> \
                                        <input type="text" autocomplete="on" value="' + value.answer + '" class="layui-input" readonly="true"> \
                                        </div> \
                                    </div>';
                                else
                                  htmls+=
                                    '<div class="layui-form-item"> \
                                        <label class="layui-form-label">' + value.name + '</label> \
                                        <div class="layui-input-block"> \
                                        <input type="text" autocomplete="on" value="未评价" class="layui-input" readonly="true"> \
                                        </div> \
                                    </div>';
                            });
                            element.tabAdd('activitySegment', {
                              title: value.name
                              ,content: htmls
                              ,id: value.sectionID.toString()
                            });
                        }

                    });
                    element.tabChange('activitySegment', currentSegment.toString());
                    form.render();
                    var Fdata = form.val('SegmentList');
                    PicArray.map(function(value){
                        var Sname = value;
                        upload.render({
                          elem: "#" + Sname + "Up"//绑定元素
                          ,url: 'Step-Into-THUMB/examiner/transcript/photo?Uname=' + LocalData.username + '&token=' + LocalData.token //上传接口
                          ,headers: {
                            'X-CSRFToken': Fdata.csrfmiddlewaretoken
                          }
                          ,done: function(res){
                              scoreForm.map(function(value){
                                  if (value['name']==Sname) value['PictureURL'] = res.url;
                              });
                              $('#' + Sname + 'Add').append(
                                '<a> <img  width="160" height="120" src="' + res.url + '"></a>');

                              layer.msg("上传成功！");
                          }
                          ,error: function(){
                              layer.msg("上传失败请重试！");
                          }
                      });
                    });


                if (currentSegment==-2){
                    var Commentcontent="";
                    if (obj.comment) Commentcontent=obj.comment;
                    else Commentcontent="无";
                    $("#toAddAddition").append('<div class="layui-card">\n' +
                        '                      <div class="layui-card-header">备注</div>\n' +
                        '                      <div class="layui-card-body">\n' +
                        '<div class="layui-form-item layui-form-text">\n' +
                        '    \n' +
                        '      <textarea class="layui-textarea" id="Addition">'+Commentcontent+'</textarea>\n' +
                        '    \n' +
                        '</div>' +
                        '<button type="button" class="layui-btn" id="AddAddition">保存备注</button>\n' +
                        '                      </div>\n' +
                        '                  </div>' +
                        '<button type="button" class="layui-btn layui-btn-lg layui-btn-normal layui-btn-radius" id="SubmitCandidate">录取该考生</button>\n' +
                        '                      </div>\n' +
                        '                  </div>');
                    form.render();
                }
            },
            error: function(http){
                if (http.status==403) location.assign("index.html");
            }
        });


      });

      $("#toAddAddition").on("click", "#AddAddition",function() {
        var LocalData = layui.data('LocalData');
        var Fdata = form.val('SegmentList');
        var str = $("#Addition").val();
        $.ajax({
            url: 'Step-Into-THUMB/admin/activity/'+LocalData.ActID+'/add-comment?wxID='+LocalData.wxID+'&token=' + LocalData.token+'&Uname=' + LocalData.username,
            type: 'post',
            contentType: 'application/json',
            dataType: 'json',
            headers: {
                'X-CSRFToken': Fdata.csrfmiddlewaretoken
              },
            data: JSON.stringify({"comment":str}),
            success: function (data) {
                layer.msg('提交成功');
            },
            error: function(http){
                if (http.status==403) location.assign("index.html");
            }
        });
      });

      $("#toAddAddition").on("click", "#SubmitCandidate",function() {
        var LocalData = layui.data('LocalData');
        var Fdata = form.val('SegmentList');
        var str = $("#Addition").val();
        $.ajax({
            url: 'Step-Into-THUMB/admin/activity/'+LocalData.ActID+'/admission/admit?wx_id='+LocalData.wxID+'&token=' + LocalData.token+'&Uname=' + LocalData.username,
            type: 'get',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                layer.msg('提交成功');
                location.assign("finalcheck.html");
            },
            error: function(http){
                if (http.status==403) location.assign("index.html");
            }
        });
      });

      form.on('submit(submitForm)', function (data) {
          var LocalData = layui.data('LocalData');
          var currentSudent = LocalData.wxID;
          var currentSegment = LocalData.currentSegment;
          var currentUser = LocalData.username;
          var isPass = '2';
          var Fdata = form.val('SegmentList');
          var Sdata = form.val('FormSubmit');
          scoreForm.map(function(value){
              value['answer'] = Sdata[value['name']];
          });
          if (Sdata.Pass) isPass=Sdata.Pass;
          $.ajax({
              url: 'Step-Into-THUMB/examiner/transcript?wxID=' + currentSudent + '&s_ID=' + currentSegment + '&username=' + currentUser + '&eligible=' + isPass+'&token=' + LocalData.token+'&Uname=' + LocalData.username,
              type: 'post',
              contentType: 'application/json',
              headers: {
                'X-CSRFToken': Fdata.csrfmiddlewaretoken
              },
              dataType: 'json',
              data:JSON.stringify(scoreForm),
              success: function (data) {
                if (data.status == 100) {
                    layer.msg('提交成功');
                    if (currentSegment==-1) location.assign("history.html");
                    else if (currentSegment==-2) location.assign("finalcheck.html");
                    else location.assign("score.html");
                } else {
                    layer.msg('提交失败请重试');
                }
              },
              error: function(http){
                  if (http.status==403) location.assign("index.html");
              }
          });
          return false;
      });

      $("#toAddAddition").on("click", "[name='uploadPicture']",function(){
          var str = this.id;
          var LocalData=layui.data('LocalData');
          var Sname = str.substring(0, str.length - 2);

      });

      $("#toAddAddition").on("click", "[name='deletePicture']",function(){

      });
    });
  </script>
</body>

</html>