{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>管理员</title>
  <link rel="stylesheet" href="{% static "layui/css/layui.css" %}" media="all">
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">军乐团活动管理</div>
      <!-- 头部区域（可配合layui已有的水平导航） -->


    <div class="layui-body" , lay-filter="graph" , style="left:0px;">
      <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md12">
              <div class="layui-card">
                  <div class="layui-card-header">人员信息</div>
                  <div class="layui-card-body" id="toAdd">
                    <div class="layui-tab" lay-filter="activitySegment">
                            <ul class="layui-tab-title" id="titleToAdd"></ul>
                            <div class="layui-tab-content" id="contentToAdd"></div>
                        </div>
                  </div>
              </div>
          </div>
        </div>
      </div>



    </div>
  </div>

  <script src="{% static "layui/layui.js" %}"></script>
  <script>
    layui.use(['form', 'layedit', 'laydate', 'jquery','element', 'layer'], function () {
      var form = layui.form,
        layer = layui.layer,
        $ = layui.jquery,
        layedit = layui.layedit,
        laydate = layui.laydate,
        element = layui.element;;

      layer.ready(function(){
        var LocalData=layui.data('LocalData');
        var currentSudent=LocalData.wxID;
        var currentSegment=LocalData.currentSegment;
        $.ajax({
            url: 'Step-Into-THUMB/examiner/transcript?wxID=' + currentSudent,
            type: 'get',
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            success: function (data) {
                var form = data.application;
                var obj=JSON.parse(str);
                var htmls='';
                    obj.question.map(function(value){
                        htmls+=
                            '<div class="layui-form-item"> \
                                <label class="layui-form-label">' + value.name + '</label> \
                                <div class="layui-input-block"> \
                                <input type="text" autocomplete="on" value="' + value.answer + '" class="layui-input" readonly="true"> \
                                </div> \
                            </div>';
                    });
                    element.tabAdd('activitySegment', {
                              title: 报名表
                              ,content: htmls
                              ,id: 'CandidateForm'
                            });
                    element.tabChange('activitySegment', 'CandidateForm');
                    form.render();
                var str = data.transcript;
                obj=JSON.parse(str);
                    obj.map(function(value){
                        if (value.segmentname == currentSegment){
                            htmls = '';
                            value.question.map(function(value){
                                htmls+=
                                    '<div class="layui-form-item"> \
                                        <label class="layui-form-label">' + value.name + '</label> \
                                        <div class="layui-input-block"> \
                                        <input type="text" autocomplete="on" value="' + value.answer + '" class="layui-input" readonly="true"> \
                                        </div> \
                                    </div>';
                            });
                            element.tabAdd('activitySegment', {
                              title: value.segmentname
                              ,content: htmls
                              ,id: value.sectionID.toString()
                            });
                        } else {
                            htmls = '';
                            htmls+=
                            '<div class="layui-form-item"> \
                                <label class="layui-form-label">' + value.name + '</label> \
                                <div class="layui-input-block"> \
                                <input type="text" autocomplete="on" value="' + value.answer + '" class="layui-input" readonly="true"> \
                                </div> \
                            </div>';
                        }



                    });
                    form.render();
            }
        });
      });

    });

  </script>
</body>

</html>