{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>管理员</title>
  <link rel="stylesheet" href="{% static "layui/css/layui.css" %}" media="all">
  <style type="text/css">
    a{color:#009688;}
    a:hover{color:#8ddad2;}
  </style>
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo"> <a href="activity.html">军乐队活动管理 </a></div>

      <ul class="layui-nav layui-layout-right">
        
        <li class="layui-nav-item" lay-unselect="">
          <a href="javascript:;"><img src="../static/illust_72066950_20181219_203453.jpg" class="layui-nav-img">管理员</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">修改信息</a></dd>
            <dd><a href="javascript:;">安全管理</a></dd>
            <dd><a href="index.html">退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>

    <div class="layui-body" , lay-filter="graph" , style="left:0px;">
      <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">活动报名人员终评</div>
              <div class="layui-card-body">
                <form class="layui-form" action="" lay-filter="FormDesign"> {%  csrf_token %}                    
                          

                  <div class="layui-card">
                    <div class="layui-card-body" id="toAdd">
                        <div class="layui-tab" lay-filter="activitySegment">

                            <ul class="layui-tab-title" id="titleToAdd">
                                <li class="layui-this" lay-id="100">全部</li>
                                <li lay-id="101">最终录取</li>
                            </ul>
                            

                            <div class="layui-tab-content" id="contentToAdd">
                                <div class="layui-tab-item layui-show">
                                    <table class="layui-table" lay-data="{height: 900, url:''}" lay-filter="accountTable" id="accountTable">
                                      <thead>
                                          <tr>
                                            <th lay-data="{type:'numbers', width:'10%'}"></th>
                                            <th lay-data="{field:'', width:'30%', style:'cursor: pointer;'}">姓名</th>
                                            <th lay-data="{field:'', width:'40%', style:'cursor: pointer;'}">学号</th>
                                            <th lay-data="{templet:'#bar', width:'20%', style:'cursor: pointer;'}">编辑</th>
                                          </tr>
                                      </thead>
                                    </table>
                                </div>
                                <div class="layui-tab-item">
                                    <table class="layui-table" lay-data="{height: 900, url:''}" lay-filter="FinalAdmit" id="FinalAdmit">
                                      <thead>
                                          <tr>
                                            <th lay-data="{type:'numbers', width:'10%'}"></th>
                                            <th lay-data="{field:'', width:'30%', style:'cursor: pointer;'}">姓名</th>
                                            <th lay-data="{field:'', width:'40%', style:'cursor: pointer;'}">学号</th>
                                            <th lay-data="{templet:'#bar', width:'20%', style:'cursor: pointer;'}">编辑</th>
                                          </tr>
                                      </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>                                
     
                </form>
              </div>
            </div>           
          </div>


        </div>
      </div>
    </div>



  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 小组：基于layui以及django
  </div>
  </div>


  <script src="{% static "layui/layui.js" %}"></script>
  <script type="text/html" id="bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="acccept">录取</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="refuse" style="hidden">取消</a>
  </script>
  <script>

    layui.use(['form', 'layedit', 'laydate', 'jquery', 'layer', 'element', 'table'], function () {
      var form = layui.form,
        layer = layui.layer,
        $ = layui.jquery,
        layedit = layui.layedit,
        laydate = layui.laydate,
        element = layui.element,
        table = layui.table;

      layer.ready(function(){
        var LocalData=layui.data('LocalData');
        layer.msg('初始化列表'+LocalData.ActID.toString());

        $.ajax({
            url: 'Step-Into-THUMB/admin/activity/'+ LocalData.ActID +'/section-list',
            type: 'get',
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            success: function (data) {
                data.sections.map(function(value){
                    $.ajax({
                        url: '',
                        type: 'get',
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        success: function(data){
                            var htmls = '<table class="layui-hide" id="section'+ value.sectionID +'"></table>';
                            element.tabAdd('activitySegment', {
                              title: value.name
                              ,content: htmls
                              ,id: value.sectionID.toString()
                            });
                            table.render({
                                elem: '#section'+value.sectionID
                                ,url:''
                                ,cellMinWidth: 80
                                ,cols: [[
                                  {type:'numbers', width:'10%'}
                                  ,{field:'', width:'30%', title: '姓名'}
                                  ,{field:'', width:'40%', title: '学号'}
                                  ,{templet:'#bar', width:'20%', title: '编辑', style:'cursor: pointer;'}
                                ]]
                              });
                        }
                    });

                });
                form.render();
            }
        });


      });

      //监听提交
      table.on('tool(accountTable)', function(obj){
        var data = obj.data;
        var Sdata = form.val('FormDesign');
        var LocalData=layui.data('LocalData');
        if (obj.event === 'detail'){

            window.open("examinerDetail.html", "_blank");
            $.ajax({
              url: '',
              type: '',
              contentType: 'application/x-www-form-urlencoded',
              dataType: 'json',
              headers: {
                'X-CSRFToken': Sdata.csrfmiddlewaretoken
              },
              success: function (data) {
                if (data.status == 100) {
                  layer.msg('成功');
                } else {
                  layer.msg('失败，请重试！');
                }
              }
            });
        } else if (obj.event === 'accept'){
          // #TODO ajax请求

        } else if (obj.event === 'refuse'){
          // #TODO ajax请求

        };
      });
    });

  </script>
</body>

</html>