{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>管理员</title>
  <link rel="stylesheet" href="{% static "layui/css/layui.css" %}" media="all">
  <style type="text/css">
    a{color:#009688;}
    a:hover{color:#8ddad2;}
  </style>
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo"> <a href="activity.html">军乐队活动管理 </a></div>

      <ul class="layui-nav layui-layout-right">
        
        <li class="layui-nav-item" lay-unselect="">
          <a href="javascript:;"><img src="../static/illust_72066950_20181219_203453.jpg" class="layui-nav-img">管理员</a>
          <dl class="layui-nav-child">
            <dd><a href="index.html">退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>

    <div class="layui-body" , lay-filter="graph" , style="left:0px;bottom: 0px;">
      <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">活动报名人员终评</div>
              <div class="layui-card-body">
                <form class="layui-form" action="" lay-filter="FormDesign"> {%  csrf_token %}                    

                  <div class="layui-card">
                    <div class="layui-card-body" id="toAdd">
                        <div class="layui-tab" lay-filter="activitySegment">

                            <ul class="layui-tab-title" id="titleToAdd">
                                <li class="layui-this" lay-id="100">全部</li>
                                <li lay-id="101">最终录取</li>
                                <li lay-id="102">参加考试</li>
                            </ul>

                            <div class="layui-form-item" style="margin-top: 15px; margin-bottom: 0px;">
                                按学号搜索：
                                <div class="layui-inline">
                                    <input class="layui-input" name="searchID" id="tableReload" autocomplete="off">
                                </div>
                                <button class="layui-btn" id="search" data-type="reload">搜索</button>
                            </div>

                            <div class="layui-tab-content" id="contentToAdd">
                                <div class="layui-tab-item layui-show">
                                    <table class="layui-table" lay-data="{id: 'AccountTable', url:'Step-Into-THUMB/admin/activity/'+layui.data('LocalData').ActID+'/get-candidate-list?s_ID=-1', page: true}" lay-filter="accountTable" id="accountTable">
                                      <thead>
                                          <tr>
                                            <th lay-data="{type:'numbers', width:'10%'}"></th>
                                            <th lay-data="{field:'name', width:'10%'}">姓名</th>
                                            <th lay-data="{field:'ID', width:'20%'}">学号</th>
                                            <th lay-data="{field:'wxID', width:'20%'}">微信号</th>
                                            <th lay-data="{field:'admitted', width:'20%'}">录取状态</th>
                                            <th lay-data="{templet:'#bar', width:'20%', style:'cursor: pointer;'}">编辑</th>
                                          </tr>
                                      </thead>
                                    </table>
                                </div>
                                <div class="layui-tab-item">
                                    <table class="layui-table" lay-data="{id: 'FinalAdmitTable', url:'Step-Into-THUMB/admin/activity/'+layui.data('LocalData').ActID+'/get-candidate-list?s_ID=-3', page: true}" lay-filter="FinalAdmit" id="FinalAdmit">
                                      <thead>
                                          <tr>
                                            <th lay-data="{type:'numbers', width:'10%'}"></th>
                                            <th lay-data="{field:'name', width:'10%'}">姓名</th>
                                            <th lay-data="{field:'ID', width:'20%'}">学号</th>
                                            <th lay-data="{field:'wxID', width:'20%'}">微信号</th>
                                            <th lay-data="{field:'admitted', width:'20%'}">录取状态</th>
                                            <th lay-data="{templet:'#bar2', width:'20%', style:'cursor: pointer;'}">编辑</th>
                                          </tr>
                                      </thead>
                                    </table>
                                </div>
                                <div class="layui-tab-item">
                                    <table class="layui-table" lay-data="{id: 'examedTable', url:'Step-Into-THUMB/admin/activity/'+layui.data('LocalData').ActID+'/get-candidate-list?s_ID=-2', page: true}" lay-filter="examed" id="examed">
                                      <thead>
                                          <tr>
                                            <th lay-data="{type:'numbers', width:'10%'}"></th>
                                            <th lay-data="{field:'name', width:'10%'}">姓名</th>
                                            <th lay-data="{field:'ID', width:'20%'}">学号</th>
                                            <th lay-data="{field:'wxID', width:'20%'}">微信号</th>
                                            <th lay-data="{field:'admitted', width:'20%'}">录取状态</th>
                                            <th lay-data="{templet:'#bar', width:'20%', style:'cursor: pointer;'}">编辑</th>
                                          </tr>
                                      </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <button class="layui-btn layui-btn-normal" id="sendMessage">以当前录取状态向所有考生发送通知</button>
                        </div>

                    </div>
                  </div>                                
     
                </form>
              </div>
            </div>           
          </div>


        </div>
      </div>
    </div>



  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 小组：基于layui以及django
  </div>
  </div>


  <script src="{% static "layui/layui.js" %}"></script>

  <script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
  </script>

  <script type="text/html" id="bar2">
    <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="refuse">取消</a>
  </script>

  <script>

    layui.use(['form', 'layedit', 'laydate', 'jquery', 'layer', 'element', 'table'], function () {
      var form = layui.form,
        layer = layui.layer,
        $ = layui.jquery,
        layedit = layui.layedit,
        laydate = layui.laydate,
        element = layui.element,
        table = layui.table;

      layer.ready(function(){
        var LocalData=layui.data('LocalData');
        layer.msg('初始化列表'+LocalData.ActID.toString());

       $.ajax({
            url: 'Step-Into-THUMB/admin/activity/'+ LocalData.ActID +'/section-list',
            type: 'get',
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            success: function (data) {
                    data.sections.map(function (value) {
                        var htmls = '<table class="layui-table" id="section' + value.sectionID + '"></table>';
                        element.tabAdd('activitySegment', {
                            title: value.name
                            , content: htmls
                            , id: value.sectionID.toString()
                        });
                        table.render({
                            elem: '#section' + value.sectionID
                            , url: 'Step-Into-THUMB/admin/activity/'+LocalData.ActID+'/get-candidate-list?s_ID='+ value.sectionID
                            , cellMinWidth: 80
                            , cols: [[
                                {type:'numbers', width:'10%'}
                                  ,{field:'name', width:'10%', title: '姓名'}
                                  ,{field:'ID', width:'20%', title: '学号'}
                                  ,{field:'wxID', width:'20%', title: '微信号'}
                                  ,{field:'admitted', width:'20%', title: '录取状态'}
                                  ,{templet:'#bar', width:'20%', title: '编辑', style:'cursor: pointer;'}
                            ]]
                            , id: "tableSection"+value.sectionID
                            , page: true
                        });
                    });
                    form.render();
            }
        });


      });

      //监听提交
      table.on('tool()', function(obj){
        var data = obj.data;
        var Sdata = form.val('FormDesign');
        var LocalData=layui.data('LocalData');
        if (obj.event === 'detail'){
            layui.data('LocalData', {
                key: 'wxID',
                value: data.wxID
            });
            layui.data('LocalData', {
                key: 'currentSegment',
                value: -2
            });
            window.open("CandidateDetail.html", "_blank");
        } else if (obj.event === 'refuse'){
            $.ajax({
                url: 'Step-Into-THUMB/admin/activity/'+ LocalData.ActID +'/admission/refuse?wx_id=' + data.wxID,
                type: 'post',
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                headers: {
                    'X-CSRFToken': Sdata.csrfmiddlewaretoken
                },
                success: function (data) {
                    location.reload();
                }
            });

        }

        return false;
      });

      table.on('edit()', function(obj){
        return false;
      });


      var active = {
          reload: function () {
              var Reload = $('#tableReload').val();
              var tmp = $(".layui-show .layui-table-view").attr('lay-id');
              //执行重载
              if (Reload) table.reload(tmp, {
                  where: {
                      key: {
                          ID: Reload
                      }
                  }
                  ,page: {
                    curr: 1 //重新从第 1 页开始
                  }
              });
              else table.reload(tmp, '')
          }
      };

      $("#search").on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
            return false;
      });


      $("#sendMessage").on('click', function(){
          layer.open({
              id: "NewMessageSet",
              title: '定制消息发送',
              shadeClose: true,
              shade: 0.8,
              area: ['1000px', '300px'],
              content: '\
                <form class="layui-form" action="" lay-filter="FormNewMessage">{%  csrf_token %}\
                    <div class="layui-form-item">\
                      <label class="layui-form-label">通过</label>\
                      <div class="layui-input-block">\
                        <label> 亲爱的XXX同学： </label>\
                        <input type="text" name="admission" lay-verify="title" autocomplete="off" placeholder="请输入向最终通过者发送的通知" class="layui-input">\
                      </div>\
                    </div>\
                    <div class="layui-form-item">\
                      <label class="layui-form-label">未通过</label>\
                      <div class="layui-input-block">\
                        <label> 亲爱的XXX同学： </label>\
                        <input type="text" name="refusal" lay-verify="title" autocomplete="off" placeholder="请输入向未通过者发送的信息" class="layui-input">\
                      </div>\
                    </div>\
                </form>',
              success: function (layero, index) {
                form.render();
              },
              btn: ['确认', '取消'],
              yes: function (index, layero) {
                  var Fdata = form.val('FormNewMessage');
                  var LocalData=layui.data('LocalData');
                  layer.close(index);
                  $.ajax({
                      url: 'Step-Into-THUMB/admin/activity/' + LocalData.ActID + '/send_message',
                      type: 'post',
                      contentType: 'application/json',
                      dataType: 'json',
                      headers: {
                          'X-CSRFToken': Fdata.csrfmiddlewaretoken
                      },
                      data: JSON.stringify({
                          "admission":Fdata.admission,
                          "refusal":Fdata.refusal
                      }),
                      success: function (data) {
                          if (data.status == 100) {
                              layer.msg('发送成功');
                          } else {
                              layer.msg('发送失败，请重试！');
                          }
                      }
                  });
              },
              btn2: function (index, layero) {
              }
            });
            return false;
      });
    });

  </script>
</body>

</html>