<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>管理员</title>
  <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div  class="layui-logo"> <a href="activity.html">军乐队活动管理 </a></div>

      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item" lay-unselect="">
          <a href="javascript:;"><img src="../static/illust_72066950_20181219_203453.jpg" class="layui-nav-img">管理员</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">修改信息</a></dd>
            <dd><a href="javascript:;">安全管理</a></dd>
            <dd><a href="index.html">退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>

    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
          <li class="layui-nav-item layui-nav-itemed">

            <dl class="layui-nav-child">
              <dd><a href="modify.html">定制报名表</a></dd>
              <dd><a href="segment.html">定制环节</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item layui-nav-itemed">

            <dl class="layui-nav-child">
              <dd><a href="accountManage.html">考官账号管理</a></dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>

    <div class="layui-body" , lay-filter="graph">
      <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">报名表</div>
              <div class="layui-card-body">
                <form class="layui-form" action="" lay-filter="FormDesign"> {%  csrf_token %}
                  <div class="layui-card">
                    <div class="layui-card-body" id="toAdd">
                      <!--  展示区  -->
                    </div>  
                  </div>                                

                  <div class="layui-card">
                      <div class="layui-card-body">
                          <div class="layui-form-item">
                              <div class="layui-input-block">
                                <button type="button" class="layui-btn" id="NewDataLine">添加新数据项</button>
                                <button type="submit" class="layui-btn" lay-submit="" lay-filter="submitForm">保存</button>
                              </div>
                          </div>
                      </div>
                  </div>      
                </form>
              </div>
            </div>           
          </div>


        </div>
      </div>
    </div>



  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 小组：基于layui以及django
  </div>
  </div>


  <script src="../static/layui/layui.js"></script>
  <script>
    var currentSegmentNum = 0;
    var Quz = {
          id:layui.data('LocalData').ActID,
          question:new Array(),
        };
    var Segments = new Array();
    layui.use(['form', 'layedit', 'laydate', 'jquery', 'layer'], function () {
      var form = layui.form,
        layer = layui.layer,
        $ = layui.jquery,
        layedit = layui.layedit,
        laydate = layui.laydate;

      layer.ready(function(){
        var LocalData=layui.data('LocalData');
        layer.msg('初始化列表'+LocalData.ActID.toString());

        //#TODO 通过ajax获取数据并解析
      });

      //监听提交
      form.on('submit(submitForm)', function (data) {
        alert(JSON.stringify(Quz));

        //#TODO 通过ajax获取数据并解析
        return false;
      });

      $("#NewDataLine").click(function() {  
        // 创建活动的弹出层
        layer.open({
          id: "NewLineSet",
          title: '添加数据项',
          shadeClose: true,
          shade: 0.8,
          area: ['500px', '400px'],
          content: '\
            <form class="layui-form" action="" lay-filter="FormNewLine">{%  csrf_token %}\
                <div class="layui-form-item">\
                  <label class="layui-form-label">数据项</label>\
                  <div class="layui-input-block">\
                    <input type="text" name="Info" lay-verify="title" autocomplete="off" placeholder="请输入数据项名称" class="layui-input">\
                  </div>\
                </div>\
                <div class="layui-form-item">\
                  <label class="layui-form-label">附加信息</label>\
                  <div class="layui-input-block">\
                    <input type="text" name="AppendInfo" lay-verify="title" autocomplete="off" placeholder="若插入选择框，请输入各选项（以|隔开）" class="layui-input">\
                  </div>\
                </div>\
                <div class="layui-form-item"> \
                  <label class="layui-form-label">题目类型</label> \
                  <div class="layui-input-block"> \
                    <select name="LineType" lay-filter="LineType"> \
                      <option value="0">填空</option>\
                      <option value="1">选择</option>\
                    </select> \
                  </div> \
                </div>\
            </form>',
          success: function (layero, index) {
            form.render();
          },
          btn: ['确认', '取消'],
          yes: function (index, layero) {
            var Fdata = form.val('FormNewLine');

            if (Fdata.LineType == "0") {
              Quz["question"].push({
                name: Fdata.Info,
                type: "Blank"
              });
              $("#toAdd").append(
                '<div class="layui-form-item"> \
                    <label class="layui-form-label">' + Fdata.Info + '</label> \
                    <div class="layui-input-block"> \
                      <input type="text" autocomplete="off" placeholder="' + Fdata.AppendInfo + '" class="layui-input" style="width:70%;display:inline;"> \
                      <button type="button" class="layui-btn" name="DeleteLine">删除</button>\
                    </div> \
                </div>'    
              );
              form.render();
            } else if (Fdata.LineType == "1"){
              var strs = new Array(); 
              strs = Fdata.AppendInfo.split("|");
              var ChoiceArr=new Array();
              strs.map(function(value,index,arr){
                ChoiceArr.push({Choice:value});
              });
              Quz["question"].push({
                name: Fdata.Info,
                type: "Choice",
                Choices: ChoiceArr
              });
              
              var modestr = '<div class="layui-form-item"> \
                  <label class="layui-form-label">' + Fdata.Info + '</label> \
                  <div class="layui-input-block" > \
                    <select name="example" lay-filter="show" > \
                      <option value=""></option> ';
              strs.map(function(value,index,arr){
                modestr += '<option value="' + index.toString() + '">' + value + '</option>';
              });               
              modestr += '</select> \
                      <button type="button" class="layui-btn" name="DeleteLine">删除</button>\
                  </div> \
                </div>';
              $("#toAdd").append(modestr);
              //alert(modestr);
              form.render();
            }
            layer.close(index);
          },
          btn2: function (index, layero) {}
        });
      });
      
      $("#toAdd").on("click", "[name='DeleteLine']",function(){
        var mParent = this.parentNode.parentNode;
        var topic = mParent.firstElementChild.innerText;
        var deleteIndex=-1;
        Quz['question'].map(function(value, index){
          alert(topic);
          if (value.name == topic) {
            deleteIndex=index;    
          }
        });
        if (deleteIndex!=-1){
          Quz['question'].splice(deleteIndex, 1);
        }
        
        mParent.remove();
        form.render();
      });


    });

    layui.use('element', function () {
      var element = layui.element; //导航的hover效果、二级菜单等功能
    });
  </script>
</body>

</html>