{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>考官</title>
  <link rel="stylesheet" href="{% static "layui/css/layui.css" %}" media="all">
  <style type="text/css">
    a{color:#009688;}
    a:hover{color:#8ddad2;}
  </style>
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo"> <a href="activity.html">军乐队活动管理 </a></div>

      <ul class="layui-nav layui-layout-right">
        
        <li class="layui-nav-item" lay-unselect="">
          <a href="javascript:;"><img src="../static/illust_72066950_20181219_203453.jpg" class="layui-nav-img">考官</a>
          <dl class="layui-nav-child">
            <dd><a href="index.html">退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
          <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item">
              <a href="score.html">评分系统</a>
            </li>
            <li class="layui-nav-item">
              <a href="history.html">历史记录</a>
            </li>

          </ul>
        </div>
    </div>

    <div class="layui-body" , lay-filter="graph" , style="bottom: 0px;">
      <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">活动报名人员评价</div>
              <div class="layui-card-body">
                <form class="layui-form" action="" lay-filter="FormDesign"> {%  csrf_token %}

                  <div class="layui-card">
                    <div class="layui-card-body" id="toAdd">
                        <div class="layui-tab" lay-filter="activitySegment">
                            <ul class="layui-tab-title" id="titleToAdd">
                            </ul>

                            <div class="layui-tab-content" id="contentToAdd">
                            </div>
                        </div>
                    </div>
                  </div>                                
     
                </form>
              </div>
            </div>           
          </div>


        </div>
      </div>
    </div>



  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 小组：基于layui以及django
  </div>
  </div>


  <script src="{% static "layui/layui.js" %}"></script>
  <script type="text/html" id="bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="detail">评分</a>
  </script>
  <script>

    layui.use(['form', 'layedit', 'laydate', 'jquery', 'layer', 'element', 'table'], function () {
      var form = layui.form,
        layer = layui.layer,
        $ = layui.jquery,
        layedit = layui.layedit,
        laydate = layui.laydate,
        element = layui.element,
        table = layui.table;

      layer.ready(function(){
        var LocalData=layui.data('LocalData');
        var currentSection='';

        $.ajax({
            url: 'Step-Into-THUMB/examiner/get-section?username='+LocalData.username,
            type: 'get',
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            success: function (data) {
                if (data.status==100) {
                    var first = 0;
                    data.sections.map(function (value) {
                        var htmls = '<table class="layui-table" id="section' + value.s_ID + '"></table>';
                        element.tabAdd('activitySegment', {
                            title: value.name
                            , content: htmls
                            , id: value.s_ID.toString()
                        });
                        if (first==0) {
                            element.tabChange('activitySegment', value.s_ID.toString());
                            first = 1;
                        }
                        table.render({
                            elem: '#section' + value.s_ID
                            , url: 'Step-Into-THUMB/examiner/get-candidate-list?s_ID='+ value.s_ID
                            , cellMinWidth: 80
                            , cols: [[
                                {type:'numbers', width:'10%'}
                                  ,{field:'name', width:'20%', title: '姓名'}
                                  ,{field:'ID', width:'20%', title: '学号'}
                                  ,{field:'wxID', width:'30%', title: '微信号'}
                                  ,{templet:'#bar', width:'20%', title: '编辑', style:'cursor: pointer;'}
                            ]]
                            , page: true
                            , initSort: {
                                field: 'ID'
                                ,type: 'desc'
                              }
                        });
                    });
                    form.render();
                }
            }
        });


      });

      //监听提交
      table.on('tool()', function(obj){
        var data = obj.data;
        var uid = $(".layui-this").attr("lay-id");
        if (obj.event === 'detail'){
            layui.data('LocalData', {
                key: 'wxID',
                value: data.wxID
            });
            layui.data('LocalData', {
                key: 'currentSegment',
                value: uid
            });
            location.assign("CandidateDetail.html");
        }
      });
    });

  </script>
</body>

</html>