{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>管理员</title>
  <link rel="stylesheet" href="{% static "layui/css/layui.css" %}" media="all">
  <style type="text/css">
    a{color:#009688;}
    a:hover{color:#8ddad2;}
  </style>
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo"> <a href="activity.html">军乐队活动管理 </a></div>

      <ul class="layui-nav layui-layout-right">
        
        <li class="layui-nav-item" lay-unselect="">
          <a href="javascript:;"><img src="../static/illust_72066950_20181219_203453.jpg" class="layui-nav-img">管理员</a>
          <dl class="layui-nav-child">
            <dd><a href="index.html">退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>

    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
          <li class="layui-nav-item">
            <a href="modify.html">定制报名表</a>           
          </li>
          <li class="layui-nav-item">
            <a href="segment.html">定制环节</a>
          </li>
          <li class="layui-nav-item">
            <a href="accountManage.html">考官账号管理</a></dd>
          </li>

        </ul>
      </div>
    </div>

    <div class="layui-body" , lay-filter="graph" , style="bottom: 0px;">
      <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-body">
                <form class="layui-form" action="" lay-filter="FormDesign"> {%  csrf_token %}                    
                          

                  <div class="layui-card">
                    <div class="layui-card-body" id="toAdd">
                        <div class="layui-tab" lay-filter="activitySegment">

                            <ul class="layui-tab-title" id="titleToAdd">
{#                              <li class="layui-this" lay-id="0">初试</li>#}
{#                              <li lay-id="1">复试</li>#}
                            </ul>
                            
                            <div class="layui-form-item" style="margin-top: 15px; visibility: hidden;" id="checkToEdit">
                              <button type="button" class="layui-btn" id="DeleteSegment">删除当前环节</button>
                              <button type="submit" class="layui-btn" lay-submit="" lay-filter="submitForm">保存当前环节</button>
                              <button type="button" class="layui-btn" id="NewSegment">添加新环节</button>
                            </div>

                            <div class="layui-tab-content" id="contentToAdd">
{#                              <div class="layui-tab-item layui-show"></div>#}
{#                              <div class="layui-tab-item"></div>#}
                            </div>
                        </div>
                    </div>
                  </div>                                

                  <div class="layui-card">
                      <div class="layui-card-body">
                          <div class="layui-form-item" id="checkToAdd" style="visibility: hidden;">
                                <button type="button" class="layui-btn" id="NewDataLine">添加新数据项</button>
                          </div>
                      </div>
                  </div>      
                </form>
              </div>
            </div>           
          </div>


        </div>
      </div>
    </div>



  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 小组：基于layui以及django
  </div>
  </div>


  <script src="{% static "layui/layui.js" %}"></script>
  <script>
    var currentSegmentNum = 0;
    var Segments = new Array();
    var Astatus = 0;
    layui.use(['form', 'layedit', 'laydate', 'jquery', 'layer', 'element'], function () {
      var form = layui.form,
        layer = layui.layer,
        $ = layui.jquery,
        layedit = layui.layedit,
        laydate = layui.laydate,
        element = layui.element;;

      layer.ready(function(){
        var LocalData=layui.data('LocalData');

        $.ajax({
            url: 'Step-Into-THUMB/admin/activity/'+ LocalData.ActID +'/section-list'+'?token=' + LocalData.token+'&Uname=' + LocalData.username,
            type: 'get',
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            success: function (data) {
                Astatus = data.status;
                if (Astatus!=0) {

                    data.sections.map(function (value) {
                        $.ajax({
                            url: 'Step-Into-THUMB/admin/activity/' + LocalData.ActID + '/section/' + value.sectionID + '/get-transcript-form'+'?token=' + LocalData.token+'&Uname=' + LocalData.username,
                            type: 'get',
                            contentType: 'application/x-www-form-urlencoded',
                            dataType: 'json',
                            async: false,
                            success: function (data) {
                                var Quz = new Array();
                                var htmls = '';
                                var str = data.form;
                                var obj = JSON.parse(str);
                                obj.question.map(function (value) {
                                    if (value.type == 'Blank') {
                                        htmls +=
                                            '<div class="layui-form-item"> \
                                                    <label class="layui-form-label">' + value.name + '</label> \
                                                    <div class="layui-input-block"> \
                                                      <input type="text" autocomplete="off" class="layui-input" style="width:70%;display:inline;"> \
                                                    </div> \
                                                </div>';
                                    } else if (value.type == 'Choice') {
                                        var modestr =
                                            '<div class="layui-form-item"> \
                                                  <div class="layui-inline">\
                                                    <label class="layui-form-label">' + value.name + '</label> \
                                                    <div class="layui-input-inline" > \
                                                      <select name="example" lay-filter="show"> \
                                                        <option value=""></option> ';
                                        value.Choices.map(function (value, index, arr) {
                                            modestr += '<option value="' + index.toString() + '">' + value.Choice + '</option>';
                                        });
                                        modestr += '</select> \
                                                    </div> \
                                                  </div>\
                                                </div>';
                                        htmls += modestr;
                                        //alert(modestr);
                                    } else if (value.type == 'Picture') {
                                        htmls +=
                                            '<div class="layui-form-item"> \
                                                    <label class="layui-form-label">' + value.name + '</label> \
                                                    <div class="layui-inline" > \
                                                        <button type="button" class="layui-btn">\
                                                          <i class="layui-icon">&#xe67c;</i>上传图片\
                                                        </button>\
                                                        <button type="button" class="layui-btn layui-btn-primary">\
                                                          删除已上传图片\
                                                        </button>\
                                                    </div> \
                                                </div>';
                                    }
                                });
                                var compulsoryAppend = "";
                                if (value.compulsory == "True") {
                                    compulsoryAppend = "[必]";
                                }
                                element.tabAdd('activitySegment', {
                                    title: value.name + compulsoryAppend
                                    , content: htmls
                                    , id: value.sectionID.toString()
                                });
                                element.tabChange('activitySegment', value.sectionID.toString());
                                Segments.push({'sectionID': value.sectionID, 'question': Quz});
                            }
                        });
                    });
                }
                else {
                    $("#checkToAdd").css("visibility","visible");
                    $("#checkToEdit").css("visibility","visible");
                    data.sections.map(function(value){
                        $.ajax({
                            url: 'Step-Into-THUMB/admin/activity/'+ LocalData.ActID +'/section/'+ value.sectionID +'/get-transcript-form'+'?token=' + LocalData.token+'&Uname=' + LocalData.username,
                            type: 'get',
                            contentType: 'application/x-www-form-urlencoded',
                            dataType: 'json',
                            async: false,
                            success: function(data){
                                var Quz=new Array();
                                var htmls='';
                                var str=data.form;
                                var obj=JSON.parse(str);
                                obj.question.map(function(value){
                                    if (value.type=='Blank'){
                                        Quz.push({
                                            name: value.name,
                                            type: "Blank"
                                        });
                                        htmls+=
                                            '<div class="layui-form-item"> \
                                                <label class="layui-form-label">' + value.name + '</label> \
                                                    <div class="layui-input-block"> \
                                                      <input type="text" autocomplete="off" class="layui-input" style="width:70%;display:inline;"> \
                                                      <button type="button" class="layui-btn" name="DeleteLine">删除</button>\
                                                    </div> \
                                                </div>';
                                    } else if (value.type=='Choice'){
                                        Quz.push({
                                            name: value.name,
                                            type: "Choice",
                                            Choices: value.Choices
                                        });
                                        var modestr =
                                            '<div class="layui-form-item"> \
                                              <div class="layui-inline">\
                                                <label class="layui-form-label">' + value.name + '</label> \
                                                    <div class="layui-input-inline" > \
                                                      <select name="example" lay-filter="show"> \
                                                        <option value=""></option> ';
                                        value.Choices.map(function(value,index,arr){
                                            modestr += '<option value="' + index.toString() + '">' + value.Choice + '</option>';
                                        });
                                        modestr += '</select> \
                                                    </div> \
                                                  </div>\
                                                  <div class="layui-inline" > \
                                                    <button type="button" class="layui-btn" name="DeleteLine">删除</button>\
                                                  </div>\
                                                </div>';
                                        htmls+=modestr;
                                        //alert(modestr);
                                    } else if (value.type == 'Picture') {
                                        Quz.push({
                                            name: value.name,
                                            type: "Picture",
                                            PictureURL: ""
                                        });
                                        htmls +=
                                            '<div class="layui-form-item"> \
                                                    <label class="layui-form-label">' + value.name + '</label> \
                                                    <div class="layui-inline" > \
                                                        <button type="button" class="layui-btn">\
                                                          <i class="layui-icon">&#xe67c;</i>上传图片\
                                                        </button>\
                                                        <button type="button" class="layui-btn layui-btn-primary">\
                                                          删除已上传图片\
                                                        </button>\
                                                    </div> \
                                                    <div class="layui-inline" > \
                                                        <button type="button" class="layui-btn" name="DeleteLine">删除</button>\
                                                    </div>\
                                                </div>';
                                    }
                                });
                                var compulsoryAppend="";
                                if (value.compulsory == true){
                                    compulsoryAppend=" [必]";
                                }
                                element.tabAdd('activitySegment', {
                                    title: value.name + compulsoryAppend
                                    ,content: htmls
                                    ,id: value.sectionID.toString()
                                });
                                element.tabChange('activitySegment', value.sectionID.toString());
                                Segments.push({'sectionID': value.sectionID, 'question': Quz});
                            },
                              error: function(http){
                                  if (http.status==403) location.assign("index.html");
                              }
                        });

                    });
                }
                form.render();
            },
              error: function(http){
                  if (http.status==403) location.assign("index.html");
              }
        });


      });

      //监听提交
      form.on('submit(submitForm)', function (data) {
        var LocalData=layui.data('LocalData');
        var Fdata = form.val('FormDesign');
        currentSegmentNum = parseInt($(".layui-this").attr("lay-id"));
        var Findex = -1;
        Segments.map(function (value, index) {
            if (value["sectionID"] == currentSegmentNum) Findex = index;
        });
        if (Findex != -1) {
            $.ajax({
                url: 'Step-Into-THUMB/admin/activity/' + LocalData.ActID + '/section/' + currentSegmentNum + '/save-transcript-form'+'?token=' + LocalData.token+'&Uname=' + LocalData.username,
                type: 'post',
                contentType: 'application/json',
                dataType: 'json',
                headers: {
                    'X-CSRFToken': Fdata.csrfmiddlewaretoken
                },
                data: JSON.stringify(Segments[Findex]),
                success: function (data) {
                    if (data.status == 100) {
                        layer.msg('保存成功');
                    } else {
                        layer.msg('保存失败请重试');
                    }

                },
                  error: function(http){
                      if (http.status==403) location.assign("index.html");
                  }
            });
        } else {
            layer.msg('保存失败请重试');
        }
        return false;
      });

      $("#NewDataLine").click(function() {  
        currentSegmentNum = parseInt($(".layui-this").attr("lay-id"));
        // 创建数据行的弹出层
        layer.open({
          id: "NewLineSet",
          title: '添加新数据项',
          shadeClose: true,
          shade: 0.8,
          area: ['450px', '400px'],
          content: '\
            <form class="layui-form" action="" lay-filter="FormNewLine">{%  csrf_token %}\
                <div class="layui-form-item">\
                  <label class="layui-form-label">数据项</label>\
                  <div class="layui-input-block">\
                    <input type="text" name="Info" lay-verify="title" autocomplete="off" placeholder="请输入数据项名称" class="layui-input">\
                  </div>\
                </div>\
                <div class="layui-form-item">\
                  <label class="layui-form-label">附加信息</label>\
                  <div class="layui-input-block">\
                    <input type="text" name="AppendInfo" lay-verify="title" autocomplete="off" placeholder="若插入选择框，请输入各选项（以|隔开）" class="layui-input">\
                  </div>\
                </div>\
                <div class="layui-form-item"> \
                  <label class="layui-form-label">题目类型</label> \
                  <div class="layui-input-block"> \
                    <select name="LineType" lay-filter="LineType"> \
                      <option value="0">填空</option>\
                      <option value="1">选择</option>\
                      <option value="2">图片</option>\
                    </select> \
                  </div> \
                </div>\
            </form>',
          success: function (layero, index) {
            form.render();
          },
          btn: ['确认', '取消'],
          yes: function (index, layero) {
            var Fdata = form.val('FormNewLine');
            layer.close(index);
            currentSegmentNum = parseInt($(".layui-this").attr("lay-id"));

            if (Fdata.LineType == "0") {
                var Findex = -1;
                Segments.map(function (value, index) {
                    if (value["sectionID"] == currentSegmentNum) Findex = index;
                });
                if (Findex != -1) {
                    Segments[Findex]["question"].push({
                        name: Fdata.Info,
                        type: "Blank"
                    });
                }
              $(".layui-show").append(
                '<div class="layui-form-item"> \
                    <label class="layui-form-label">' + Fdata.Info + '</label> \
                    <div class="layui-input-block"> \
                      <input type="text" autocomplete="off" placeholder="' + Fdata.AppendInfo + '" class="layui-input" style="width:70%;display:inline;"> \
                      <button type="button" class="layui-btn" name="DeleteLine">删除</button>\
                    </div> \
                </div>'    
              );
              form.render();
            } else if (Fdata.LineType == "1"){
              var strs = new Array(); 
              strs = Fdata.AppendInfo.split("|");
              var ChoiceArr=new Array();
              strs.map(function(value,index,arr){
                ChoiceArr.push({Choice:value});
              });
              var Findex = -1;
              Segments.map(function (value, index) {
                  if (value["sectionID"] == currentSegmentNum) Findex = index;
              });
              if (Findex != -1) {
                  Segments[Findex]["question"].push({
                      name: Fdata.Info,
                      type: "Choice",
                      Choices: ChoiceArr
                  });
              }
              var modestr = 
                '<div class="layui-form-item"> \
                  <div class="layui-inline">\
                    <label class="layui-form-label">' + Fdata.Info + '</label> \
                    <div class="layui-input-inline" > \
                      <select name="example" lay-filter="show"> \
                        <option value=""></option> ';
                          strs.map(function(value,index,arr){
                            modestr += '<option value="' + index.toString() + '">' + value + '</option>';
                          });               
                          modestr += '</select> \
                    </div> \
                  </div>\
                  <div class="layui-inline" > \
                    <button type="button" class="layui-btn" name="DeleteLine">删除</button>\
                  </div>\
                </div>';
              $(".layui-show").append(modestr);
              //alert(modestr);
              form.render();
            } else if (Fdata.LineType == "2"){

              var Findex = -1;
              Segments.map(function (value, index) {
                  if (value["sectionID"] == currentSegmentNum) Findex = index;
              });
              if (Findex != -1) {
                  Segments[Findex]["question"].push({
                      name: Fdata.Info,
                      type: "Picture",
                      PictureURL: ""
                  });
              }
              var modestr =
                '<div class="layui-form-item"> \
                  <div class="layui-inline">\
                    <label class="layui-form-label">' + Fdata.Info + '</label> \
                    <div class="layui-inline" > \
                        <button type="button" class="layui-btn">\
                          <i class="layui-icon">&#xe67c;</i>上传图片\
                        </button>\
                        <button type="button" class="layui-btn layui-btn-primary">\
                          删除已上传图片\
                        </button>\
                    </div> \
                  </div>\
                  <div class="layui-inline" > \
                    <button type="button" class="layui-btn" name="DeleteLine">删除</button>\
                  </div>\
                </div>';
              $(".layui-show").append(modestr);
              //alert(modestr);
              form.render();
            }
          },
          btn2: function (index, layero) {}
        });
      });
      
      $("#toAdd").on("click", "[name='DeleteLine']",function(){
        var mParent = this.parentNode.parentNode;
        var topic = mParent.firstElementChild.innerText;
        var deleteIndex=-1;
        currentSegmentNum = parseInt($(".layui-this").attr("lay-id"));
        var Findex = -1;
        Segments.map(function (value, index) {
            if (value["sectionID"] == currentSegmentNum) Findex = index;
        });
        if (Findex != -1) {
            Segments[Findex]['question'].map(function (value, index) {
                if (value.name == topic) {
                    deleteIndex = index;
                }
            });
            if (deleteIndex != -1) {
                Segments[Findex]['question'].splice(deleteIndex, 1);
            }
        }
        mParent.remove();
        form.render();
      });

      $("#NewSegment").click(function(){
        // 创建活动的弹出层
        layer.open({
          id: "NewSegmentSet",
          title: '环节基本设置',
          shadeClose: true,
          shade: 0.8,
          area: ['450px', '350px'],
          content: '   \
            <form class="layui-form" action="" lay-filter="FormSegment">{%  csrf_token %}\
              <div class="layui-form-item">\
                <label class="layui-form-label">环节名称</label>\
                <div class="layui-input-block">\
                  <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入名称" class="layui-input">\
                </div>\
              </div>\
              <div class="layui-form-item">\
                 <label class="layui-form-label">是否必过</label>\
                 <div class="layui-input-block">\
                    <input type="radio" name="compulsory" value="True" title="是">\
                    <input type="radio" name="compulsory" value="False" title="否">\
                 </div>\
              </div>\
            </form>  ',
          success: function (layero, index) {
            form.render();
          },
          btn: ['确认', '取消'],
          yes: function (index, layero) {
            var Sdata = form.val('FormSegment');
            var Fdata = form.val('FormDesign');
            var LocalData=layui.data('LocalData');
            layer.close(index);
            $.ajax({
              url: 'Step-Into-THUMB/admin/activity/'+ LocalData.ActID +'/create-section?name='+ Sdata.name +'&compulsory=' + Sdata.compulsory+'&token=' + LocalData.token+'&Uname=' + LocalData.username,
              type: 'post',
              contentType: 'application/x-www-form-urlencoded',
              dataType: 'json',
              headers: {
                'X-CSRFToken': Fdata.csrfmiddlewaretoken
              },
              success: function (data) {
                if (data.status == 100) {
                  layer.msg('环节创建成功');
                  location.reload();
                } else {
                  layer.msg('环节创建失败，请重试！');
                }
              },
              error: function(http){
                  if (http.status==403) location.assign("index.html");
              }
            });
          },
          btn2: function (index, layero) {}
        });

      });
      
      $("#DeleteSegment").click(function(){
        var uid = $(".layui-this").attr("lay-id");
        var Fdata = form.val('FormDesign');
        var LocalData=layui.data('LocalData');

        $.ajax({
              url: 'Step-Into-THUMB/admin/activity/'+ LocalData.ActID +'/section/'+ uid +'/delete-section'+'?token=' + LocalData.token+'&Uname=' + LocalData.username,
              type: 'delete',
              contentType: 'application/x-www-form-urlencoded',
              dataType: 'json',
              headers: {
                'X-CSRFToken': Fdata.csrfmiddlewaretoken
              },
              success: function (data) {
                if (data.status == 100) {
                  layer.msg('删除成功');
                  location.reload();
                } else {
                  layer.msg('删除失败，请重试！');
                }
              },
              error: function(http){
                  if (http.status==403) location.assign("index.html");
              }
            });

      });


    });

  </script>
</body>

</html>