<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>管理员</title>
  <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">军乐团活动管理</div>
      <!-- 头部区域（可配合layui已有的水平导航） -->

      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item" lay-unselect="">
          <a href="javascript:;"><img src="../static/illust_72066950_20181219_203453.jpg" class="layui-nav-img">管理员</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">修改信息</a></dd>
            <dd><a href="javascript:;">安全管理</a></dd>
            <dd><a href="index.html">退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>

    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
          <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;">发布活动</a>
            <dl class="layui-nav-child">
              <dd><a href="system_activityAdd.html">创建表单</a></dd>
              <dd><a href="system_accountAdd.html">添加考官</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item">
            <a href="javascript:;">管理活动</a>
            <dl class="layui-nav-child">
              <dd><a href="system_activityList.html">活动列表</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;">账号管理</a>
            <dl class="layui-nav-child">
              <dd><a href="system_accountManage.html">考官账号信息管理</a></dd>
              <dd><a href="system_accountAdd.html">考官账号添加</a></dd>
            </dl>
          </li>

        </ul>
      </div>
    </div>

    <div class="layui-body" , lay-filter="graph">
      <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">人员管理</div>
              <div class="layui-card-body">
                <table lay-filter="parse-table-demo">
                  <thead>
                    <tr>
                      <th lay-data="{type: 'checkbox', fixed: 'left'}"></th>
                      <th lay-data="{field:'userName', width:200}">姓名</th>
                      <th lay-data="{field:'userNumber', width:250}">学号</th>
                      <th lay-data="{field:'userScore', width:200}">总评分</th>
                      <th lay-data="{field:'userAppend', width:450}">备注</th>
                      <th lay-data="{fixed: 'right', width:300, align:'center', toolbar: '#barDemo'}"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td>xxx</td>
                      <td>2016111111</td>
                      <td>93</td>
                      <td>无</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>xxx</td>
                      <td>2017000000</td>
                      <td>93</td>
                      <td>无</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>xx</td>
                      <td>2016000000</td>
                      <td>93</td>
                      <td>无</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>

    <div class="layui-footer">
      <!-- 底部固定区域 -->
      © 小组：基于layui以及django
    </div>
  </div>


  <script src="../static/layui/layui.js"></script>

  <script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="getCheckData">给予通过</button>
    </div>
  </script>

  <script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑备注</a>
  </script>

  <script src="../static/layui/layui.js"></script>
  <script>
    layui.use('table', function () {
      var table = layui.table;

      table.init('parse-table-demo', { //转化静态表格
        toolbar: '#toolbarDemo',
        cols: [
          [{
            type: 'checkbox',
            fixed: 'left'
          }, {
            field: 'username',
            title: '用户名',
            width: 200,
            edit: 'text'
          }, {
            field: 'userNumber',
            width: 250
          }, {
            field: 'userScore',
            width: 200
          }, {
            field: 'userAppend',
            width: 450
          }, {
            fixed: 'right',
            width: 300,
            align: 'center',
            toolbar: '#barDemo'
          }]
        ]
      });

      //头工具栏事件
      table.on('toolbar(test)', function (obj) {
        var checkStatus = table.checkStatus(obj.config.id);
        switch (obj.event) {
          case 'getCheckData':
            var data = checkStatus.data;
            layer.alert(JSON.stringify(data));
            break;
          case 'getCheckLength':
            var data = checkStatus.data;
            layer.msg('选中了：' + data.length + ' 个');
            break;
          case 'isAll':
            layer.msg(checkStatus.isAll ? '全选' : '未全选');
            break;

            //自定义头工具栏右侧图标 - 提示
          case 'LAYTABLE_TIPS':
            layer.alert('这是工具栏右侧自定义的一个图标按钮');
            break;
        };
      });

      table.on('tool(parse-table-demo)', function (obj) {
        var data = obj.data;
        if (obj.event === 'edit') {
          location.assign("system_activityModify.html")
        }
      });
    });

    layui.use('element', function () {
      var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

      //监听导航点击
      element.on('nav(demo)', function (elem) {
        //console.log(elem)
        layer.msg(elem.text());
      });
    });
  </script>
</body>

</html>